#center-search {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

#footer-container {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    text-decoration-color: red;
}
.navbar-right {
    float: right;
}

