/* line 1, main.sass */
#center-search {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px; }

/* line 8, main.sass */
#footer-container {
  position: absolute;
  bottom: 0;
  height: 40px;
  margin-top: 140px;
  text-decoration-color: red; }

/* line 15, main.sass */
.navbar-right {
  float: right; }
