{% extends "lastgooddomainBase.html.twig" %}
{%  block navigation %}
    {% include "navigations.html.twig" %}
{%  endblock %}
{% block body %}
    <div class="searchBlock">

        {{ form_start(search_form, {"attr":{"class":"search-bar"}}) }}
        <div>
            {{ form_errors(search_form.search_term) }}
            {{ form_widget(search_form.search_term) }}
        </div>
        {{ form_end(search_form) }}


        <div class="stats-flex-container">
            <div class="stats stats-flex-item">

                <ul>
                    <li>91238<span>Domains</span></li>
                    <li>298<span>Expiring Soon</span></li>
                    <li>923<span>High Value</span></li>
                    <li>98<span>With Content</span></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-header">
                High Backlinks
            </div>
            <div class="card-copy">
            <table>
                <tr>
                    <td>Domain 1</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td>Domain 2</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td>Domain 3</td>
                    <td>****</td>
                </tr>
                <tr>
                    <td>Domain 4</td>
                    <td>***</td>
                </tr>
            </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                High Value
            </div>
            <div class="card-copy">
                <table>
                    <tr>
                        <td>Domain 1</td>
                        <td>*****</td>
                    </tr>
                    <tr>
                        <td>Domain 2</td>
                        <td>*****</td>
                    </tr>
                    <tr>
                        <td>Domain 3</td>
                        <td>****</td>
                    </tr>
                    <tr>
                        <td>Domain 4</td>
                        <td>***</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Latest Drops
            </div>
            <div class="card-copy">
                <table>
                    <tr>
                        <td>Domain 1</td>
                        <td>*****</td>
                    </tr>
                    <tr>
                        <td>Domain 2</td>
                        <td>*****</td>
                    </tr>
                    <tr>
                        <td>Domain 3</td>
                        <td>****</td>
                    </tr>
                    <tr>
                        <td>Domain 4</td>
                        <td>***</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
{%  block footer %}
    {% include "footer.html.twig" %}
{% endblock %}
