{% extends "base.html.twig" %}
{% block title 'Lastgooddomain' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="/css/screen.css" />
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@jquery_js'
    '@navigation_js'
    output='js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}