{% block navigations %}
    <nav class='cf nav'>
        <ul class='cf'>
            <li {% if pathInfo == '/summary' %} style="background: #3E606F; color: #000; !important" {% endif %}>
                <a href='lastest'>Latest Domains</a>
            </li>
            <li>
                <a href='top-domains'>Top Domains</a>
            </li>
            <li>
                <a href='advanced-search'>Advanced Search</a>
            </li>
            <li>
                <a href='admin/stats'>Stats</a>
            </li>
            <li id="nav-login" style="float: right;">
                <a href='login'>Login</a>
            </li>
        </ul>
        <a href='#' id='openup'>MENU</a>
    </nav>
{% endblock %}