
.search {
  font-size: 120rem;
  width: 100%;
  position: relative
}

.searchTerm {
  font-size: 33px;
  float: left;
  width: 100%;
  border: 1px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 2px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ff0000;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 32px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}