// Menu Colours
$text-color: #eee;
$menu-bg: #333;
$menu-hover: #444;
$menu-border: #555;


nav {
  //top: 0; // Fix the menu to the top
  //position: fixed; // Fix the menu to the top
  height: 44px;
  width: 100%;
  background-color: $menu-bg;
  color: $text-color;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    float: left;
  }

  a {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: $text-color;
    text-decoration:none;
    height: 44px;
  }

  a:hover {
    color: $text-color;
  }

  li:hover {
    background-color: $menu-hover;
  }

  a#openup {
    display: none;
  }
} //nav

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;

    ul {
      display: none;
      height: auto;
    }

    li {
      width: 100%;
      float: left;
      position: relative;
    }

    a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: $menu-bg;
      border-bottom: 1px solid $menu-border;
      height: 44px;
    }

    a:hover {
      background: $menu-hover;
    }

    a#openup:after {
      content:"|||";
      transform:rotate(-90deg);
      -ms-transform:rotate(-90deg); /* IE 9 */
      -webkit-transform:rotate(-90deg); /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }

    a#openup {
      display: block;
      background-color: $menu-bg;
      width: 100%;
      position: relative;
    }
  } //nav
} // media

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */