{% extends 'default.html.twig' %}



{% block body %}
    {% include 'vending-static/modals/admin.html.twig' %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KCOM Vending Machine</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>



    <div class="container">
        <br /><br /><br />
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="#" class="btn btn-danger adminButton" role="button">Admin</a>
        </div>
        <br />

        <div class="starter-template">
            <div class="row">
                 <div class="col-sm-6 col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Your Payment
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="firstname">Enter amount in pence</label>
                                        <div class="col-md-4">
                                            <input id="cash" name="cashpaid" type="text" placeholder="Enter amount" class="form-control input-md" required="" >
                                        </div>

                                    </div>
                                </fieldset>
                            </form>
                            <a href="#" class="btn btn-success" style="float: right;" id="getChange" role="button">Get change</a>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Your Change
                        </div>
                        <div class="panel-body" id="change-given">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container -->

{% endblock %}
