@import "http://fonts.googleapis.com/css?family=Lato:300";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em; }
  .footer ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

nav {
  height: 44px;
  width: 100%;
  background-color: #333;
  color: #eee; }
  nav ul {
    padding: 0;
    margin: 0; }
  nav li {
    display: inline;
    float: left; }
  nav a {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
    height: 44px; }
  nav a:hover {
    color: #eee; }
  nav li:hover {
    background-color: #444; }
  nav a#openup {
    display: none; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em; }
  nav {
    height: auto;
    border-bottom: 0; }
    nav ul {
      display: none;
      height: auto; }
    nav li {
      width: 100%;
      float: left;
      position: relative; }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
      height: 44px; }
    nav a:hover {
      background: #444; }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px; }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative; } }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  color: white;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  border-bottom: solid 5px white; }
  .hero:before, .hero:after {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto; }
  .hero--intro:before {
    content: "Gradient backgrounds"; }
  .hero--intro:after {
    content: "A curated collection"; }
  .hero--intro {
    background: linear-gradient(135deg, #4567b2 20%, #8ab9ff 80%); }
  .hero--1 {
    background: linear-gradient(135deg, #76ad39 20%, #cdff8a 80%); }
  .hero--2 {
    background: linear-gradient(135deg, #b24592 20%, #f15f79 80%); }
  .hero--3 {
    background: linear-gradient(135deg, #432b58 20%, #734b6f 80%); }
  .hero--4 {
    background: linear-gradient(135deg, #904e95 20%, #e96450 80%); }
  .hero--5 {
    background: linear-gradient(135deg, #ff5f6d 20%, #ffc371 80%); }
  .hero--6 {
    background: linear-gradient(135deg, #ff9068 20%, #ff4b1f 80%); }
  .hero--7 {
    background: linear-gradient(135deg, #ffa000 20%, #ff5000 80%); }
  .hero--8 {
    background: linear-gradient(135deg, #b993d8 20%, #8ca6dc 80%); }
  .hero--9 {
    background: linear-gradient(135deg, #3ca55f 20%, #b5ac59 80%); }
  .hero--10 {
    background: linear-gradient(135deg, #2a99ef 20%, #52d9e5 80%); }

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: block; }
  section header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    section header:last-child {
      margin-right: 0; }
  section section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    section section:last-child {
      margin-right: 0; }

h1, h2, h3, p {
  margin: 0; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

p {
  color: #333;
  line-height: 1.5em; }

a {
  color: #477DCA;
  text-decoration: none; }

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase; }

h1 {
  font-family: "Sanchez", serif;
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 40em) {
    h1 {
      font-size: 2.6em; } }

h2 {
  font-family: "Sanchez", serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.1em; }
  @media screen and (min-width: 40em) {
    h2 {
      font-size: 1.3em; } }

code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-size: 0.7em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap; }

h3 {
  font-family: "Sanchez", serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em; }

p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Sanchez", serif;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.3em; }

p {
  font-family: "Questrial", sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

a.read-more {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase; }
  a.read-more span {
    font-family: "Questrial", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    position: absolute;
    right: -12px;
    top: -1px; }

hr {
  width: 3em; }

p.author {
  font-family: "Questrial", sans-serif; }

form.search-bar {
  position: relative; }
  form.search-bar input[type=search] {
    appearance: none;
    background-color: white;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0.5em;
    position: relative;
    transition: border-color;
    width: 100%; }
  form.search-bar button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    outline: none;
    padding: 5px 10px; }
    form.search-bar button[type=submit] img {
      height: 12px;
      opacity: 0.7; }

.stats {
  padding: 0.75em; }
  .stats ul {
    padding: 0; }
  .stats li {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    color: #6f99d5;
    display: inline;
    float: left;
    font-size: 0.95em;
    line-height: 0.8em;
    padding: 0 0.5em; }
    .stats li:first-child {
      padding-left: 0; }
    .stats li:last-child {
      border-right: 0; }
  .stats span {
    color: #333;
    display: bock;
    font-size: 10.8em;
    font-weight: normal; }

.stats-flex-container {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.stats-flex-item {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  box-ordinal-group: 0;
  -webkit-order: 0;
  -moz-order: 0;
  order: 0;
  -ms-flex-order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

@media screen and (max-width: 600px) {
  .stats {
    display: none; } }

.searchBlock {
  margin-top: 10%; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  background-color: #f6f6f6;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .card .card-header {
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    transition: all 0.2s ease-in-out; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    background-color: #f6f6f6; }
    .card:active .card-header {
      background-color: #f6f6f6; }
