<!-- Modal -->
<div id="adminWindow" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Administer vending machine</h4>
            </div>

            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                <a href="#" class="btn btn-danger" id="resetCashBox" role="button">Reload Cashbox</a>
                        </div>
                    </div>
                <form class="form-horizontal">
                    <fieldset>



                        <h2>Cashbox totals:</h2>
                        <div id="cashboxSummary">

                        </div>


                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</div>