<!-- Modal -->
<div id="adminPanel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new customer</h4>
            </div>
            <div class="modal-body text-center">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="nametitle">Title</label>
                            <div class="col-md-4">
                                <select id="title" name="nametitle" class="form-control customerTitle">
                                    <option value=""></option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Master">Master</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Sir">Sir</option>
                                    <option value="Lady">Lady</option>
                                    <option value="Lord">Lord</option>
                                    <option value="Dr">Dr</option>
                                    <option value="Rev">Rev</option>
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="firstname">First Name *</label>
                            <div class="col-md-4">
                                <input id="firstname" name="firstname" type="text" placeholder="John" class="form-control input-md" required="" >

                            </div>
                            <div class="col-md-1">
                                <span class="firstnameerror" style="display:none;color:red;">Required</span>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="surname">Surname *</label>
                            <div class="col-md-4">
                                <input id="surname" name="surname" type="text" placeholder="Smith" class="form-control input-md" required="">

                            </div>
                            <div class="col-md-1">
                                <span class="surnameerror" style="display:none;color:red;">Required</span>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>
                            <div class="col-md-4">
                                <input id="email" name="email" type="text" placeholder="john@smith.com" class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="telephone">Telephone</label>
                            <div class="col-md-4">
                                <input id="telephone" name="telephone" type="text" placeholder="01234 567890" class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="mobile">Mobile</label>
                            <div class="col-md-4">
                                <input id="mobile" name="mobile" type="text" placeholder="07711 123456" class="form-control input-md">

                            </div>
                        </div>

                        <!-- Multiple Checkboxes -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="optin">Communications</label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label for="optin-0">
                                        <input type="checkbox" name="postal" id="optin-0" value="postal" checked>
                                        Postal
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="optin-1">
                                        <input type="checkbox" name="optin" id="optin-1" value="optin" checked>
                                        Email
                                    </label>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="row">
                <div class="col-md-12 customerExists" style="display:none;">
                    <div class="alert alert-danger" role="alert">A customer already exists with this email address.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default saveCustomer">Continue</button>
            </div>
        </div>

    </div>
</div>